/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* line 6, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
body {
  padding-bottom: 40px;
  color: #5a5a5a; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 16, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

/* Flip around the padding for proper display in narrow viewports */
/* line 25, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

/* line 29, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

/* line 33, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.navbar-wrapper .navbar .container {
  width: auto; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 42, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.carousel {
  height: 500px;
  margin-bottom: 60px; }

/* Since positioning the image, we need to help out the caption */
/* line 47, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.carousel-caption {
  z-index: 10;
  background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(50%, transparent), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 100%);
  background: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 100%); }

/* Declare heights because of positioning of img element */
/* line 58, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.carousel .item {
  height: 500px;
  background-color: #777; }

/* line 62, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 75, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center; }

/* line 79, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.marketing h2 {
  font-weight: normal; }

/* line 82, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px; }

/* Featurettes
------------------------- */
/* line 91, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */ }

/* Thin out the marketing headings */
/* line 96, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  /* line 108, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
  .navbar-wrapper {
    margin-top: 20px; }
  /* line 111, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }
  /* line 115, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; }
  /* The navbar becomes detached from the top, so we round the corners */
  /* line 121, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
  .navbar-wrapper .navbar {
    border-radius: 4px; }
  /* Bump up size of carousel content */
  /* line 126, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }
  /* line 132, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 992px) {
  /* line 138, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
  .featurette-heading {
    margin-top: 120px; } }

/* line 142, /Users/alexmwalker/ownCloud/Sites/martin-dench/martin/public/sass/carousel.scss */
div {
  /*outline: 1px red dashed;*/ }

/*# sourceMappingURL=carousel.css.map */
